#fvtt-cms-container {
	position: fixed;
	bottom: 15vh;
	left: 1vw;
	width: 200px;
	height: 200px;
	z-index: 99;
	background: var(--color-foreground);
	color: var(--color-background);
	border-radius: 5px;
	box-shadow: 0 0 20px var(--color-shadow-dark);
	padding: 8px;
	display: grid;
}

#fvtt-cms-header {
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	width: 100%;
}

#fvtt-cms-header h2 {
	border: none;
}

#fvtt-cms-content {
	display: flex;
	flex-direction: column;
	gap: 12px;
	justify-content: center;
	align-items: center;
}

#fvtt-cms-content button {
	background: var(--color-background);
	border: none;
	border-radius: 3px;
	color: var(--color-foreground);
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 6px;
	text-align: left;
	width: 90%;
}

#fvtt-cms-content button:hover,
#fvtt-cms-content button:focus {
	background: var(--color-text-dark-secondary);
	color: var(--color-background);
}
